# Auto detect text files and perform LF normalization
* text=auto

# JavaScript files
*.js text eol=lf

# CSS files  
*.css text eol=lf

# HTML files
*.html text eol=lf

# Image files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text